<web-app>

    <servlet>
        <servlet-name>RegisterStudent</servlet-name>
        <servlet-class>servlet.RegisterStudentServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>RegisterStudent</servlet-name>
        <url-pattern>/register</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ShowAllStudents</servlet-name>
        <servlet-class>servlet.ShowAllStudentsServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>ShowAllStudents</servlet-name>
        <url-pattern>/show_all</url-pattern>
    </servlet-mapping>

</web-app>
